.item {
  min-width: 100%;
  min-height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color:white;
  font-size: 30px;

  * {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.app-carousel {
  width: 100%;
  height: 100%;
}

:host {
  width: 100%;
  height: 100%;
}
