.carousel-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;

  ::ng-deep [appCarouselitem] {
    flex: 1;
  }
}

:host {
  width: 100%;
  height: 100%;
}
